[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
ipykernel = "*"
opencv-python = "*"
pillow = "*"
pathlib = "*"
tensorflow = "==2.0.3"

[requires]
python_version = "3.7"

[dev-packages]
pylint = "*"
